<h1>Assign <%= "#{@person.first_name} #{@person.last_name}" %> to a location</h1>

<%= render partial: 'common/errors', locals: {model: @assignment} %>

<%= form_for [@person, @assignment] do |f| %>
    <div class="form-row">
      <%= f.label :location, "Location" %>
      <%= f.collection_select :location_id, @locations, :id, :name, prompt: "Please select an option..." %>
    </div>
    <div class="form-row">
      <%= f.label :role %>
      <%= f.text_field :role %>
    </div>
    <div class="form-row">
      <%= f.submit 'Assign' %>
    </div>
<% end %>